body {
    margin: 0;
}

*, *::after, *::before {
    /* El tamaño del bloque es de borde a borde */
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

h2 {
    font-family: 'Prompt', sans-serif;
}

button {
    background-color: transparent;
    border: solid 0px transparent;
}

.desactivado {
    display: none;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(297deg, rgba(71,100,214,0.8), rgba(41,116,234,0.9));
}

.contenedor-principal {
    width: 80%;
    height: 95%;
    background-color: #F2F2F2;
    
    border: 0px solid transparent;
    border-radius: 30px;
    box-shadow: 14px 21px 48px -16px rgba(0,0,0,0.75);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2 ease-in-out;
}

/* - - - Botones - - -  */

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(297deg, rgba(64, 92, 202, 0.8), rgba(36, 101, 206, 0.9));
    padding: 10px;
    border: 0px solid transparent;
    border-radius: 60px;
}

.boton {
    filter: invert(100%) !important; /* Revertir el color de la imagen Negro -> Blanco */
    cursor: pointer;
}

.btn-logo > * {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.boton:hover {
    opacity: 0.8;
}

.btn-notificacion:hover {
    animation: giro-lateral 2s infinite;
}

@keyframes giro-lateral {
  0% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}

/* - - - Contactos - - - */

.contenedor-contactos {
    height: 100%;
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;

    border-radius: 30px 0px 0px 30px;
    background-color: white;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.2);
    transition: background-color 0.2s ease-in-out;
} 

.contenedor-contactos::-webkit-scrollbar { /* Ocultar barra de scroll */
    display: none;
}

.interfaz-contactos > h2 {
    width: 90%;
}

.interfaz-contactos {
    width: 100%;
    height: 30%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-crear-contacto {
    font-weight: bolder;
    font-size: 18px;

    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 0px solid transparent;
    border-radius: 50px;
    width: 250px;
    min-height: 80px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2 ease-in-out;
}

.btn-crear-contacto:active {
    box-shadow: none;
    transform: translateY(2px);
}

.buscador-contactos {
    background-image: url(../img/BuscarContacto.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
    outline: none;
    
    width: 90%;
    min-height: 40px;
    padding-left: 20px;

    border: 0px solid transparent;
    border-radius: 50px;
    background-color: #dfdfe2;

    font-size: 17px;
    font-family: 'Prompt', sans-serif;
}

.buscador-contactos:focus {
    transform: scale(1.02);
}

.perfil-contacto {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover; /* Especificar cómo se ajusta una imagen dentro de su contenedor */
}

.btn-seleccionar-contacto {
    border-radius: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    transition: background-color 0.5s ease-in-out;
    border: none;
}

.btn-seleccionar-contacto-claro:hover {
    background-color: #e4e3e3;
}

.btn-seleccionar-contacto-oscuro:hover {
    background-color: #555454;
}

.contacto-seleccionado-claro {
    width: 100%;
    border-radius: 0px;
    background-color: #C9C9CA;
    border-radius: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: box-shadow 0.5s ease-in-out;
    border: none;
}

.contacto-seleccionado-oscuro {
    width: 100%;
    border-radius: 0px;
    background-color: #2E2D2D;
    border-radius: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: box-shadow 0.5s ease-in-out;
    border: none;
}

.contactos {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nombre-contacto {
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    margin: 0px 10px;
}

.ultimo-mensaje {
    font-family: 'Prompt', sans-serif;
    color: #6b6b6b;
    margin: 0px 10px;
    user-select: text;
}

.conectado {
    border: 3px solid rgb(122, 194, 15);
}

.desconectado {
    border: 3px solid rgb(214, 85, 76);
}

.mensajes {
    min-width: 30px;
    min-height: 30px;

    font-weight: bolder;
    color: white;
    border-radius: 50px;

    background-color: #9087D0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 25%;
    user-select: text;
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: rgb(226, 225, 225);
}

/* - - - Chat - - -  */

.contenedor-chat {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 0px 30px 30px 0px;
    overflow-y: scroll;
    position: relative;
}

.contenedor-chat::-webkit-scrollbar { /* Ocultar barra de scroll */
    display: none;
}

.cabecera-contacto-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
    padding: 10px 20px;
    border-radius: 0px 30px 0px 0px;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);
    transition: background-color 0.2s ease-in-out;
}

.btn-mostrar-contactos {
    display: none;
}

.datos-contacto-chat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-datos-chat {
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
}

.contenedor-datos-chat > p {
    margin: 3px 20px;
}

.texto-estado-conexion-conectado {
    font-family: 'Prompt', sans-serif;
    color: rgb(122, 194, 15);
}

.texto-estado-conexion-desconectado {
    font-family: 'Prompt', sans-serif;
    color: rgb(214, 85, 76);
}

.btn-tema {
    position: relative;
    width: 100px;
    height: 45px;
    border-radius: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: filter 0.3 ease-in-out;
    background-image: url("../img/BtnTemaClaro.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.btn-tema:active {
    transform: translateY(2px);
    filter: none;
}

.sol {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url("../img/Sol.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 18%;
    left: 7%;
    z-index: 0;
    transition: left 0.2s ease-in-out;
}

.luna {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url("../img/Luna.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 18%;
    left: 60%;
    z-index: 0;
    transition: left 0.2s ease-in-out;
}

.chat {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chat::-webkit-scrollbar {
    display: none;
}   

.elementos-mensaje-origen {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.mensaje-origen {
    font-family: 'Prompt', sans-serif;
    background-color: rgb(102, 158, 241);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    justify-content: flex-end;
    color:white;
    padding: 10px 20px;
}

.elementos-mensaje-destino {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mensaje-destino {
    font-family: 'Prompt', sans-serif;
    background-color: rgb(158, 180, 226);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    color: white;
}

.mensaje-destino *, .mensaje-origen * {
    user-select: text;
}

.hora-envio {
    position: absolute;
    bottom: 0px;
    right: 7px;
    font-size: 13px;
    color: white;
    font-family: 'Prompt', sans-serif;
}

.mensaje-destino-audio {
    background-color: rgb(158, 180, 226);
    border-radius: 10px;
    padding: 20px 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.contenedor-dia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
  
.dia {
    font-family: 'Prompt', sans-serif;
    background-color: #e2e2e2;
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 50px;
}

.sticker {
    margin: 0px 25px;
}

.contendor-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 5px;
    bottom: 10px;
}

.popup-inputs {
    background-color: #ffffff;

    width: 95%;
    min-height: 70px;
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.2 ease-in-out;
}

.formulario-inputs {
    width: 100%;
    display: flex;
    background-color: aqua;
}

.btn-input {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: filter 0.3 ease-in-out;
    cursor: pointer;
}

.btn-input:active {
    transform: translateY(2px);
    filter: none;
}

.campo-texto-chat {
    width: 75%;
    height: 40px;

    border: none;
    outline: none;

    font-size: 20px;
    color: gray;
}

@media screen and (max-width: 768px) {
    .cabecera-contacto-chat {
        border-radius: 0px;
    }
    .botones {
        flex-direction: row;
    }
    .contenedor {
        flex-direction: column;
        justify-content: space-between;  
        width: 100%;
        height: 100%;
    }        
    .contenedor > * {
        margin-top: 30px;        
    }    
    .contenedor-principal {
        width: 95%;
        height: 100%;
    }
    .contenedor-chat {
        border-radius: 0px;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .contenedor-contactos {
        border-radius: 0px;
        width: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
    }   
    .contactos {
        width: 100%;
    }
    .btn-mostrar-contactos {
        display: block;
    }
    .desactivado {
        display: none;
    }
}