html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
    background: #4b63f2;
    color: white;
}
header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    text-decoration: none;
    color: white;
}
.imgLogo {
    padding-left: 20px;
    width: 50px;
}
.nombreLogo {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding-left: 10px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}
form {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #f2f2f2;
    color: black;
    border-radius: 20px;
    perspective: 2500px;
    box-shadow:  
    rgba(0, 0, 0, 0.13) -5px -5px 10px 10px,
    rgba(0, 0, 0, 0.13) 5px 5px 10px 10px; 
}
h1 {
    font-size: 2.3rem;
}
.registerCheck:not(checked) .datosLogin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
input {
    padding: 5px;
    background-color: #f2f2f2;
}
input {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px;
}
button, input[type="submit"] {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    width: 100%;
    background-color:#4b64f269 ;
    border: 2px solid rgba(233, 226, 226, 0.075);
    border-radius: 3px;
    cursor: pointer;
}
input:focus {
    outline: none;
    border: 0;
    background-color: transparent;
    border-bottom: solid 1px;
}
input[type="checkbox"] {
    transform: scale(1.5);
}
label.logged, .registerLablel {
    font-size: 0.8rem;
}
.login input {
    margin-bottom: 20px;
}
.registerButton:hover, button:hover, .returnButton:hover, input[type="submit"]:hover {
    background-color: #4b64f2;
    transition: background-color 0.15s linear; 
}
.registerLablel {
    text-align: start;
    margin-bottom: 5px;
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
}
/* BOTON DE CAMBIO A VENTANA DE REGISTRO */
.registerButton {
    cursor: pointer;
    display: grid;
    place-items: center;
    min-width: 190px;
    min-height: 30px;
    background-color: #4b64f269;
    border-radius: 3px;
    margin-bottom: 40px;
    font-size: 0.85rem;
}
.registerCheck {
    display: none;
}
/* ------------------------------ */

/* ACCION CUANDO SE PULSA EL BOTON DE REGISTRO */
.registerCheck:checked ~ .datosLogin {
    display: block;
    opacity: 0;
    position: absolute;
    z-index: -1;
    transform: rotateY( 180deg );
    pointer-events: none;
}
form:has(.registerCheck) {
    transition: transform 1s;
}
form:has(.registerCheck:checked) {
    transform: rotateY(180deg);
    transform: scaleX(-1);
}

/* OCULTAR BOTON DE REGISTRO */
.registerCheck:checked ~ .registerButton {
    display: none;
    cursor: default;
}
.registerCheck:checked ~ .registerLablel {
    display: none;
    line-height: 0;
}
/* ------------------------ */
/* BOTON DE VOLVER A VENTANA DE LOGIN */
.returnButton {
    cursor: pointer;
    display: none;
    min-width: 190px;
    min-height: 30px;
    background-color: #4b64f269;
    border-radius: 3px;
    margin-bottom: 40px;
    font-size: 0.85rem;
    transform: rotateY(180deg);
}
.registerCheck:checked ~ .returnButton {
    display: grid;
    place-items: center;
}
/* ------------------------ */
hr {
    margin-bottom: 30px;
}
.forgot {
    display: block;
    font-size: 0.7rem;
    margin-top: 0px;
}
.datosRegister {
    display: block;
    opacity: 0;
    position: absolute;
    z-index: -1;
    transform: rotateY( 180deg );
    pointer-events: none;
}
.registerCheck:checked ~ .datosRegister {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    position: relative;
    animation: fadeIn 1s forwards 0.4s;
}

@keyframes fadeIn {
    to { 
        z-index: 0;
        opacity: 1;
    }
}