@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16pt;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
}
                                                /*OPTIMIZAR!!!!*/
.container {
    display: flex;

    max-width: 100vw;
    min-height: 100vh;

    background: linear-gradient(322deg, rgba(38,49,115,1) 0%, rgba(7,10,13,1) 100%);
}
.col-1 {
    min-width: 15vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /*border-right: 3px solid black;*/
}
.col-1 > * {
    border-bottom: 3px solid black;
    /*padding: ;*/
}
.col-2 {
    min-width: 85vw;

    display: flex;
    flex-direction: column;
}
.notificaciones_menu > a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.notificaciones_menu > a > p {
    width: 500px;
}
.perfil_usuario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contactos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.lista_amigos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.amigo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buscador {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #7061BE;
    padding: 10px;
}
.buscador * {
    border-radius: 10px;
}
.buscador input {
    width: 80%;
}
.icono {
    width: 2vw;
    margin: 1em;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
}
main {
    background-color: #F2F2F2;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*NOTIFICACIONES*/
.notificaciones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.notificacion {
    background-image: linear-gradient(322deg, #BF6068 0%, #ee7883 100%);
    
    width: 70vw;

    border-radius: 50px;
    padding: 5px 15px;

    text-decoration: none;
    color: #683FBF;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 2vh;
}
.notificacion > div {
    display: flex;
    flex-direction: column;
}
.notificacion img {
    width: 5vw;

    border-radius: 30px;
    padding: 0.5vh;
}
.notificacion > div > p {
    justify-self: center;
    margin-left: 1vw;
}
.notificacion > div > p:last-child {
    font-size: 0.5em;
    justify-self: flex-end;
}

h1 {
    font-size: 3em;
}