@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vh;
    outline: solid;
}

aside p{
    font-family: 'Open Sans';
    background-color: aqua;
    width: 20vh;
    height: 4vh;
    text-align: center;
}

aside a{
    text-decoration: none;
}

aside div{
    outline: solid 1px;
    width: 100%;
}

#sesion, #publicaciones-generales{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    justify-content: space-around;
}

#sesion img{
    width: 15vh;
}

#notificaciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#notificaciones img{
    width: 32px;
}