/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.icono{
    width: 32px;
    height: 32px;
}

.estado{
    width: 10px;
    height: 10px;
}

.foto-perfil{
    border: solid;
    border-radius: 50%;
    /* border: solid 2px white; */
    /* border-bottom: solid 20px white; */
    box-shadow: -5px 5px 3px 2px rgba(0,0,0,0.75);
}

aside{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #263173;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vh;
    height: 100vh;
    font-family: 'Open Sans';
    text-align: center;
    position: sticky;
}

aside a{
    text-decoration: none;
    color: white;
}

aside > div{
    border-right: solid 1px;
    border-bottom: solid 1px;
    width: 100%;
}

#sesion{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    justify-content: space-around;
}

#sesion img{
    width: 15vh;
}

#sesion p{
    padding: 3px;
}

.cerrar-sesion{
    width: 100%;
}

.cerrar-sesion:hover{
    background-color: #4B64F2;
}

#publicaciones-generales, #notificaciones, #historias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6vh;
}

.cerrar-sesion a, #notificaciones a, #publicaciones-generales a, #historias a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#historias:hover{
    background-color: #4B64F2;
}

#publicaciones-generales:hover{
    background-color: #4B64F2;
}

#notificaciones:hover{
    background-color: #4B64F2;
}

#notificaciones a:hover > .icono{
    animation: AnimacionCampana 2s infinite;
    
}

@keyframes AnimacionCampana {
    33%{ transform: rotate(10deg) }
    66%{ transform: rotate(-10deg) }
}

#contactos{
    border-bottom: none;
}

.contactos-titulo{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
}

.contactos-titulo:hover{
    background-color: #4B64F2;
}

#amigos{
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-around;
    height: 60%;
}

#amigos .foto-perfil{
    width: 8vh;
    height: 8vh;
    margin-left: 2vh;
}


#amigos a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#amigos .estado{
    margin-left: 10px;
}

#amigos a:hover > .foto-perfil{
    animation: AnimacionFoto-Perfil 0.5s forwards;
}

@keyframes AnimacionFoto-Perfil {
    100% { transform: scale(1.1); }
}


#principal{
    width: 200vh;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    background-color: #263173;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 15vh;
    margin-left: 5vh;
}

.nombreLogo {
    margin-right: 5vh;
    font-family: 'Secular One', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    font-size: 55px;
    animation: CambiarColores 45s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes CambiarColores {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
  }

.buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EE7B83;
    width: 100%;
    height: 7vh;
}

.buscador input{
    border-radius: 5px;
}

.buscador form{
    display: flex;
    justify-content: center;
    align-items: center;
}

header input{
    width: 150vh;
    height: 32px;
    margin-right: 15px;
}

#publicaciones{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

#publicaciones > :nth-child(odd){
    padding-right: 4vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-align: right;
    margin-bottom: 5vh;
}

#publicaciones > :nth-child(even){
    padding-left: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.reacciones-publicacion{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 15vh;
    max-height: 20vh;
    border: solid 1px;
}



.foto-perfil-publicacion{
    display: block;
    width: 15vh;
    border-radius: 20px 20px 0px 0px;
}

.reacciones{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.publicacion{
    padding-right: 2vh;
    padding-left: 2vh;
    background-color: #f2f2f2;
    border: 1px outset;
    width: 85%;
    min-height: 5vh;
    font-family: 'Asap';
}

.foto-publicacion{
    width: 100%;
}

.corazon{
    content: url(../img/corazon_vacio.png);
    appearance: none;
    cursor: pointer;
}

.corazon:checked{
    content: url(../img/corazon_lleno.png);
}

.comentario{
    content: url(../img/icono_comentario.png);
    appearance: none;
    cursor: pointer;
}

.usuario{
    color: #4B64F2;
}

#chat{
    display: flex;
    flex-direction: row;
    border: solid 1px;
    position: fixed;
    bottom: 0;
    right: 5px;
    background-color: #263173;
    width: 25vh;
}
#chat a{
    padding-left: 15px;
    display: flex;
    height: 40px;
    font-family: 'Open Sans';
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    color: white;
}
#chat:hover{
    background-color: #4B64F2;
}

.hacer-comentario{
    display: none;
    position: fixed;
    border: solid 1px;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 25%;
    border-radius: 50px;
}

.hacer-comentario form{
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 50px 50px;
    background-color: white;
    border-top: solid;
}

.enviar-comentario{
    position: fixed;
    right: 16%;
    bottom: 22.5%;
    background-image: url(../img/icono-enviar.png);
    background-position: 0px 0px;
    background-color: white;
    cursor: pointer;
    border: 0px;
    height: 32px;
    width: 32px;
    z-index: 2;
}

.fondo{
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: black;
    opacity: 70%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.comentarios{
    border-radius: 50px 50px 0px 0px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #f2f2f2;
    font-family: "Asap";
    font-size: larger;
    text-align: left;
    /* width: 95.5%; */
    height: 100%;
    z-index: 1;
}

.escribir-comentario{
    border-radius: 0px 0px 50px 50px;
    border: none;
    width: 92%;
    /* height: 20%; */
    outline: none;
    resize: none;
    font-size: 1.5em;
    font-family: "Asap";
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1;
}

.cerrar-comentario{
    position: fixed;
    right: 14.8%;
    top: 19.6%;
    cursor: pointer;
    content: url(../img/EstadoDesconectado.png);
    appearance: none;
    width: 14px;
}

.comentario:checked ~ .hacer-comentario{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

.hacer-comentario:has(.cerrar-comentario:checked){
    display: none;
}