@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */
body{
    display: flex;
    flex-direction: row;
}

.icono{
    width: 32px;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vh;
    height: 98vh;
    border: solid;
    font-family: 'Open Sans';
    text-align: center;
    position: sticky;
}

aside a{
    text-decoration: none;
}

aside div{
    outline: solid 1px;
    width: 100%;
}

#sesion, #publicaciones-generales, #contactos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    justify-content: space-around;
}

#sesion img{
    width: 15vh;
}

#notificaciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

#contactos{
    height: 45%;
}

#contactos img{
    width: 8vh;
}

#contactos a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#principal{
    border: solid;
    width: 200vh;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .logo{
    display: flex;
    justify-content: space-evenly;
} */

.buscador{
    display: inline-flex;
    justify-content: space-between;
}

header input{
    width: 150vh;
}